*.md        # Exclude all Markdown files
*.rst       # Exclude all reStructuredText files
*.json      # Exclude JSON files
*.cookies   # Exclude Cookie data
!README.md  # Except for README.md
!README.rst # Except for README.md
